table {
	margin-bottom: 10px;
	border-collapse: collapse;
}
td, th {
	border: 1px solid green;
	border-collapse: collapse;
	padding: 5px;
}
.form {
	float:left;
}
input[type='radio']{
	width: 20px;
}
.navigation {
	font-size: 30px;
	
}
a {
	text-decoration: none;
}


