{% extends 'base.html.twig' %}

{% block title %}New ProductInStore{% endblock %}

{% block body %}
    <h1>Create new ProductInStore</h1>

    {{ include('product_in_store/_form.html.twig') }}

    <a href="{{ path('product_in_store_index') }}">back to list</a>
{% endblock %}
