{% extends 'base.html.twig' %}

{% block title %} New ProductInStore {% endblock %}

{% block stylesheets1 %} <link rel="stylesheet" href="/css/products_in_store/products_add.css"> {% endblock %}

   
{% block logo %} New Product in Store {% endblock %}

{% block content %}

        {{form(form)}}
           
        <br><span style="color: fuchsia; font-weight: bold" >Dev info:<br>
        {{developerMessage}}</span><br><br>
     
        <div class = 'links'>
            <a href="{{ path('products_all') }}"> Back to list of Products in Store >>>> </a>
        </div>
      
{% endblock %}

